#submitButtons {
    float: right;
    margin-top: 15px;
}

#previewButton {
    float: right;
    margin: 10px 10px 10px 100%;
}

#saveButton {
    float: right;
    margin: 10px 10px 10px 100%;
}

article{
    padding-top: 15px;
    padding-right: 7.8125%;
}

.selection{
    margin-top: 15px;
}

select {
    margin: 0 0 15px 10px;
    font-size: 20px;
}

input[type=text] {
    background-color: #FFFFFF;
    border: 1px solid #A9A9A9;
    border-radius: 2px;
    margin: 0 0 0 15px;
    font-size: 20px;
}

textarea {
    font-size: 20px;
    margin: 0 0 15px 10px;
}

.label {
    margin: 15px 0;
    font-weight: bold;
    text-indent: 0;
    font-size: 20px;
}

#flagImg {
    float: left;
}

#previewImg {
    width: 200px;
    height: 120px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    margin: 10px 100% 10px 10px;
}

#preview{
    margin-top: 55px;
    width: 100%;
}