#editButton {
    float: right;
    margin-top: 15px;
}

#previewButton {
    float: right;
    margin-top: 15px;
}

#saveButton {
    float: right;
    margin-top: 15px;
}

#div {
    /*margin-top: 65px;*/
}

#preview {
    margin-top: 65px;
}

article{
    padding-top: 15px;
    padding-right: 7.8125%;
}

.selection{
    margin-top: 15px;
}

select {
    margin: 25px 10px;
    font-size: 20px;
}

input[type=text] {
    background-color: #FFFFFF;
    /*padding: 5px;*/
    border: 1px solid #A9A9A9;
    border-radius: 2px;
    margin: 15px;
    font-size: 20px;
}

textarea {
    font-size: 20px;
}

.label {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 25px;
    text-indent: 0;
    font-size: 20px;
}