.ui-dialog-titlebar {
    display:none
}

.label {
    margin: 15px 0;
    font-weight: bold;
    text-indent: 0;
    font-size: 20px;
}

input[type=text], input[type=password] {
    background-color: #FFFFFF;
    border: 1px solid #A9A9A9;
    border-radius: 2px;
    /*margin: 0 0 0 15px;*/
    font-size: 20px;
    width: 100%
}

#login {
    /*float: right;*/
    /*margin-top: 10%;*/
}