article {
    padding-right: 7.8125%;
}

#randFishbowl {
    float: right;
    margin: 1%;
}

#fishbowlDisplay {
     padding: 0;
}

#fishbowlDisplayContentLeft > * {
    text-indent: 0 !important;

}

.fullWidth {
    width: 99% !important;
}