input[type=text] {
    background-color: #FFFFFF;
    border: 1px solid #A9A9A9;
    border-radius: 2px;
    margin: 0 0 0 15px;
    font-size: 20px;
}

textarea {
    font-size: 20px;
    margin: 0 0 15px 10px;
}

.label {
    margin: 15px 0;
    font-weight: bold;
    font-size: 25px;
    text-indent: 0;
    font-size: 20px;
}