article {
    margin-right: 2%;
}

input[type=text] {
    background-color: #FFFFFF;
    border: 1px solid #A9A9A9;
    border-radius: 2px;
    margin: 0 0 0 15px;
    /*font-size: 12px;*/
}

textarea {
    font-size: 20px;
    margin: 0 0 15px 10px;
}

.label {
    margin: 15px 0;
    font-weight: bold;
    text-indent: 0;
    font-size: 20px;
}

.subLabel {
    margin: 0 0 0 15px;
    text-indent: 0;
    font-size: 12px;
}

#submitButton {
    float: right;
}

select {
    margin: 0 0 0 15px;
}