article {
    padding-left: 7.8125%;
}

p {
    text-indent: 50px;
}

#navButton {
    position: fixed;
    top: 63px;
    left: -1px;

    width: 55px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition:
    0.3s width ease,
    0.5s transform ease;
    -moz-transition:
    0.3s width ease,
    0.5s transform ease;
    -o-transition:
    0.3s width ease,
    0.5s transform ease;
    -ms-transition:
    0.3s width ease,
    0.5s transform ease;
    transition:
    0.3s width ease,
    0.5s transform ease;
}

#navButton .text {
    position: absolute;
    white-space: nowrap;
    top: auto;
    left: 54px;
    opacity: 0;
    -webkit-transition:
    0.3s opacity 0.3s;
    -moz-transition:
    0.3s opacity 0.3s;
    -o-transition:
    0.3s opacity 0.3s;
    -ms-transition:
    0.3s opacity 0.3s;
    transition:
    0.3s opacity 0.3s;
}
#navButton:hover {
    width: 130px;
}
#navButton:hover .text {
    opacity: 1;
}

#adminNavButton {
    position: fixed;
    top: 63px;
    left: -1px;

    width: 55px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition:
    0.3s width ease,
    0.5s transform ease;
    -moz-transition:
    0.3s width ease,
    0.5s transform ease;
    -o-transition:
    0.3s width ease,
    0.5s transform ease;
    -ms-transition:
    0.3s width ease,
    0.5s transform ease;
    transition:
    0.3s width ease,
    0.5s transform ease;
}

#adminNavButton .text {
    position: absolute;
    white-space: nowrap;
    top: auto;
    left: 54px;
    opacity: 0;
    -webkit-transition:
    0.3s opacity 0.3s;
    -moz-transition:
    0.3s opacity 0.3s;
    -o-transition:
    0.3s opacity 0.3s;
    -ms-transition:
    0.3s opacity 0.3s;
    transition:
    0.3s opacity 0.3s;
}
#adminNavButton:hover {
    width: 190px;
}
#adminNavButton:hover .text {
    opacity: 1;
}

.title {
    padding-top: 20px;
    font-size: 60px;
    font-weight: bold;
}