{"filter":false,"title":"theme.config.example","tooltip":"/src/theme.config.example","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1418149156835,"hash":"847de6c82cd155b8af19d44a456e7d819f683790"}