{"filter":false,"title":"theme.config","tooltip":"/src/theme.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1418149114848,"hash":"8ef078d9f72f8a10be08b6ac1357ad704c014d37"}