article {
    padding-left: 150px;
}

#content {
    padding-left: 40px;
    display: inline-block;
    /*float: none;*/
}

#select{
    float: left;
    display: inline-block;
}

#orientations {
    font-weight: bold;
    font-size: 30px;
    /*padding-top: 50px;*/
    padding-bottom: 0;
}

#sexualities, #romantic, #genders, #otherTerms{
    padding-top: 40px;
    width: 99.5% !important;
}

#sexualitiesSection, #romanticSection, #gendersSection, #otherTermsSection{
    width: 99.5% !important;
}

.loading{
    font-weight: normal;
    font-size: 16px;
    /*padding-top: 50px;*/
    padding-bottom: 0;
}

.flagSectionTitle {
    font-weight: bold;
    font-size: 30px;
    /*padding-top: 50px;*/
    padding-bottom: 0;
}

.flagEntry {
    padding-top: 20px;
    width: 99.5%;
}

.flagTitle {
    font-weight: bold;
    font-size: 20px;
    
}

.flagImg {
    width: 200px;
    height: 120px;
    margin: 10px;
}


.flagDesc{
    margin:  5px 10px !important;
    font-weight: normal;
    font-size: 16px;
}