article {
    padding-left: 150px;
}

#orientations {
    font-weight: bold;
    font-size: 30px;
    /*padding-top: 50px;*/
    padding-bottom: 0px;
}

.loading{
    font-weight: normal;
    font-size: 16px;
    /*padding-top: 50px;*/
    padding-bottom: 0px;
}

.flagSectionTitle {
    font-weight: bold;
    font-size: 30px;
    /*padding-top: 50px;*/
    padding-bottom: 0px;
}

.flag {
    border: 2px solid black;
    border-radius: 5px;
    background-color: #AAAAAA;
}

.flagTitle {
    font-weight: bold;
    font-size: 20px;
    margin-left: 40px;
}

.flagImg {
    width: 200px;
    height: 120px;
    margin-left: 40px;
}


.flagDesc{
    margin-left: 40px;
    font-weight: normal;
    font-size: 16px;
    /*padding-top: 50px;*/
    padding-bottom: 0px;
}

.loading {
    margin-left: 40px;
}